.Category{
    top: 150;
    left: 50;
    right: 50;

    border: solid;
    color: black;
  }

  .buttons{
    border-radius: 10%;
    
  }
  .container{
display: flex;
flex-direction: row;
border: solid;
border-color: black;
justify-content: space-between;

  }